body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  padding: 8px;
  margin: 4px auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}
.nav:hover {
  background-color: rgba(0, 128, 128, 0.362);
  color: white;
}

.active-nav {
  width: 100%;
  padding: 8px;
  gap: 10px;
  background: linear-gradient(115deg, #38b2ac, #2c7a7b);
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 4px auto;
}
